* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-sizing: border-box;
}

.header {
  height: 12vh;
}

.header-img {
  position: absolute;
  right: 95%;
  margin-top: 1rem;
}

.images {
  width: 28vh;
  height: 7vh;
}

.header-text {
  position: relative;
  bottom: 2.5rem;
  padding-left: 30px;
}

.LogOut {
  position: absolute;
  top: 4%;
  right: 10px;
}

.Card {
  font-size: 15pt;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid #00a53e;
  padding-bottom: 2px;
  margin: 20px 0px;
}

.loc {
  position: relative;
  bottom: 25px;
  margin: -3px;
}

.btn_div {
  padding-left: 73rem;
}

/* Media Query for Mobile Devices */
/* @media (max-width: 480px) {
  body {
    margin: 0;
    padding: 0;
  }

  .Page_two_logoAndLogOut{
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .Page_two_logoAndLogOut img{

    position: absolute;

  }
  .Page_two_logoAndLogOut h3{
    
    margin-top: 8rem;
   
    
    
    
  }

}  */

/* Media Query for low resolution  Tablets, Ipads */
/* @media (min-width: 481px) and (max-width: 767px) {
  body {
    background-color: yellow;
  }
}  */
/* Media Query for Tablets Ipads portrait mode
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: blue;
  }
}  */
/* Media Query for Laptops and Desktops */
/* @media (min-width: 1025px) and (max-width: 1280px) {
  body {
    background-color: green;
  }
}  */
/* Media Query for Large screens */
/* @media (min-width: 1281px) {
  body {
    background-color: white;
  }
} */


/************************************************* Media query For Mobiles **************************/


 /* Media Query for Mobile Devices */
 @media (max-width: 480px) {

 }
