/******************************************* <Login.js> **********************************************/

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Main-component {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-left: 23%;
  width: 50%;
  padding: 10px;
  height: 100vh;
}

form .images {
  width: 28vh;
  position: fixed;
  top: 10%;
  margin-left: -5rem;
  height: 7vh;
}

.Input-btn .images img {
  display: block;
  margin-left: 115%;
  margin-right: auto;
  width: 160%;
}

.Input-btn .images h3 {
  width: 430pt;
  height: 20pt;
  color: rgb(51, 182, 82);
  font-size: 16pt;
  margin-left: 46%;
  margin-top: 20%;
  letter-spacing: -0.01pt;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.input-form .form-group input {
  width: 350pt;
  height: 49pt;
  border-radius: 4pt;
  margin-top: 20px;
  align-items: center;
  margin-left: 10%;
  border-color: rgb(0, 105, 70);
  box-sizing: border-box;
  border-width: thin;
  padding-left: 10px;
}

.input-form {
  margin-top: 10rem;
}

.Main-component form button {
  width: 350pt;
  height: 55pt;
  border-radius: 6pt;
  font-size: 30px;
  margin-top: 0.5rem;
  margin-left: 3.4rem;
  background-color: rgb(8, 136, 38);
  box-shadow: rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.form-group input::placeholder {
  color: rgb(0, 0, 0);
}

.Main-component form button:hover {
  background-color: rgb(8, 136, 38);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.Main-component form p {
  margin-left: 17.5rem;
}

.Main-component form a {
  position: absolute;
  left: 40rem;
  margin-top: 4rem;
  text-decoration: none;
}

.Input-btn .error {
  color: red;
  text-align: end;
}

/*************************************Media Query For Mobiles**************************/

/* Media Query for Large screens */
@media (min-width: 1281px) {
  .Main-component {
    align-items: center;
    justify-content: center;
  }
  .input-form {
    margin-top: 7rem;
  }

  .Input-btn .images h3 {
    padding-left: 0rem;
  }

  .Main-component form p {
    margin-left: 17rem;
  }
  .Input-btn .images img {
    margin-left: 15rem;
    max-width: 120%;
    margin-top: 0rem;
  }
  .Main-component form a {
    position: absolute;
    margin-left: 0rem;
  }
}

/**************************************Media Query for laptops and Desktops ****************************************/

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .Main-component {
    align-items: center;
    justify-content: center;
  }
  .Input-btn .images img {
    margin-left: 15rem;
    max-width: 120%;
    margin-top: -2rem;
  }
  .input-form {
    margin-top: 7rem;
  }

  .Main-component form a {
    position: absolute;
    left: 36rem;
  }
}

@media (min-width: 1025px) and (max-width: 1270px) {
  .Main-component form a {
    position: absolute;
    left: 35.5rem;
  }
}

@media (min-width: 1025px) and (max-width: 1275px) {
  .Main-component form a {
    position: absolute;
    left: 35rem;
  }
}

@media (min-width: 1025px) and (max-width: 1230px) {
  .Main-component form a {
    position: absolute;
    left: 34rem;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .Main-component form a {
    position: absolute;
    left: 33rem;
  }
}

@media (min-width: 1025px) and (max-width: 1170px) {
  .Main-component form a {
    position: absolute;
    left: 32rem;
  }
}

@media (min-width: 1025px) and (max-width: 1120px) {
  .Main-component form a {
    position: absolute;
    left: 31rem;
  }
}

@media (min-width: 1025px) and (max-width: 1190px) {
  .Main-component form a {
    text-align: center;
  }
}

@media (min-width: 1025px) and (max-width: 1160px) {
  .Main-component form a {
    text-align: center;
    margin-left: -3rem;
  }
}

/**********************************Media Query For Tablets and Ipads for ipad Mini******************************************/

/* //iPad 1, iPad 2, iPad Mini */
@media screen and (device-width: 768px) and (device-height: 1024px) {
  .Main-component {
    align-items: center;
    justify-content: center;
  }
  .Input-btn .images img {
    margin-left: 15rem;
    max-width: 80%;
  }
  form .images {
    margin-top: -5rem;
  }
  .Input-btn .images h3 {
    text-align: center;
    margin-left: 5rem;
    margin-top: 1rem;
  }
  .input-form {
    margin-top: -24.5rem;
  }
  .Main-component form a {
    position: absolute;
    left: 20.5rem;
  }
}

@media screen and (device-width: 1024px) and (device-height: 768px) {
  .Main-component {
    align-items: center;
    justify-content: center;
  }

  form .images {
    margin-top: -3rem;
  }
  .Input-btn .images img {
    margin-left: 15rem;
    max-width: 100%;
  }
  .Input-btn .images h3 {
    text-align: center;
    margin-left: 5rem;
    margin-top: 1rem;
  }

  .input-form {
    margin-top: -10rem;
  }
  .Main-component form a {
    position: absolute;
    left: 28rem;
  }

  .Main-component form button {
    height: 9vh;
  }
  .Main-component form a {
    position: absolute;
    left: 28rem;
    margin-top: 3.5rem;
  }
}

/*******************************Media Query For Low Resolution *****************************************************/

/* Media Query for low resolution  Tablets, Ipads */
/* @media (max-width: 767px) {
  .Main-component {
    align-items: center;
    justify-content: center;
  }
  .inputbtn .images img {
    margin-left: 15rem;
    max-width: 130%;
  }
  .inputbtn .images h3 {
    text-align: center;
    font-size: 18px;
    margin-left: 3rem;
  }

  .form_group .form-group input {
    width: 25rem;
    height: 10vh;
    margin-left: 3.5rem;
  }

  .Main-component form button {
    width: 25rem;
    height: 12vh;
  }
  .Main-component form p {
    margin-left: 15rem;
  }
  .Main-component form a {
    position: absolute;
    left: 20rem;
    top: 25rem;
  }

  .form_group {
    margin-top: 7rem;
  }
}

@media (max-width: 725px) {
  .Main-component form a {
    position: absolute;
    left: 19rem;
    top: 25rem;
  }
}

@media (max-width: 700px) {
  .Main-component form a {
    position: absolute;
    left: 18rem;
    top: 25rem;
  }
}

@media (max-width: 663px) {
  .Main-component form a {
    position: absolute;
    left: 17rem;
    top: 25rem;
  }
}
@media (max-width: 635px) {
  .Main-component form a {
    position: absolute;
    left: 16rem;
    top: 25rem;
  }
}

@media (max-width: 600px) {
  .Main-component form a {
    position: absolute;
    left: 15rem;
    top: 25rem;
  }
}
@media (max-width: 565px) {
  .Main-component form a {
    position: absolute;
    left: 14rem;
    top: 25rem;
  }
}
@media (max-width: 525px) {
  .Main-component form a {
    position: absolute;
    left: 13rem;
    top: 25rem;
  }
}
@media (max-width: 500px) {
  .Main-component form a {
    position: absolute;
    left: 12rem;
    top: 25rem;
  }
  .inputbtn .images img {
    margin-left: 15rem;
    max-width: 130%;
  }
}

@media (max-width: 1024px) {
  .Main-component {
    align-items: center;
    justify-content: center;
  }
  .inputbtn .images img {
    margin-left: 14rem;
    max-width: 130%;
  }
  .inputbtn .images h3 {
    text-align: center;
    font-size: 22px;
    margin-left: 5rem;
    margin-top: 1rem;
  }
  .Main-component form a {
    position: absolute;
    left: 28rem;
  }
  .form_group {
    margin-top: 7rem;
  }
} */

/* @media (max-width: 1023px) {
    .inputbtn .images img {
      margin-left: 14rem;
      max-width: 130%;
    }
    .inputbtn .images h3 {
      text-align: center;
      font-size: 18px;
      margin-left: 3rem;
      margin-top: 1rem;
    }
    .form_group .form-group input {
      width: 25rem;
      height: 10vh;
      margin-left: 3.5rem;
    }
    .Main-component form button {
      width: 25rem;
      height: 12vh;
    }
    .Main-component form p {
      margin-left: 15rem;
    }
  } */

/* @media (max-width: 1023px) {
  .Main-component form a {
    position: absolute;
    left: 27rem;
  }
}

@media (max-width: 955px) {
  .Main-component form a {
    position: absolute;
    margin-top: 3rem;
    left: 26rem;
  }
}

@media (max-width: 925px) {
  .Main-component form a {
    position: absolute;
    margin-top: 3rem;
    left: 25rem;
  }
}

@media (max-width: 895px) {
  .Main-component form a {
    position: absolute;
    margin-top: 3rem;
    left: 24rem;
  }
}

@media (max-width: 860px) {
  .Main-component form a {
    position: absolute;
    margin-top: 3rem;
    left: 23rem;
  }
}

@media (max-width: 826px) {
  .Main-component form a {
    position: absolute;
    margin-top: 3rem;
    left: 22rem;
  }
}

@media (max-width: 790px) {
  .Main-component form a {
    position: absolute;
    margin-top: 3rem;
    left: 21rem;
  }
} */

@media (max-width: 766px) {
  .Main-component form a {
    position: absolute;
    margin-top: 4rem;
    left: 20rem;
  }
}

@media (max-width: 735px) {
  .Main-component form a {
    position: absolute;
    margin-top: 4rem;
    left: 19rem;
  }
}

@media (max-width: 700px) {
  .Main-component form a {
    position: absolute;
    margin-top: 4rem;
    left: 18rem;
  }
}

@media (max-width: 660px) {
  .Main-component form a {
    position: absolute;
    margin-top: 4rem;
    left: 17rem;
  }
}

@media (max-width: 626px) {
  .Main-component form a {
    position: absolute;
    margin-top: 4rem;
    left: 16rem;
  }
}

@media (max-width: 590px) {
  .Main-component form a {
    position: absolute;
    margin-top: 4rem;
    left: 15rem;
  }
}

@media (max-width: 562px) {
  .Main-component form a {
    position: absolute;
    margin-top: 4rem;
    left: 14rem;
  }
}
@media (max-width: 526px) {
  .Main-component form a {
    position: absolute;
    margin-top: 4rem;
    left: 13rem;
  }
}

@media (max-width: 490px) {
  .Main-component form a {
    position: absolute;
    margin-top: 4rem;
    left: 12rem;
  }
}

/**************************************Media Query for Mobiles ************************/

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .Main-component {
    align-items: center;
    margin-left: 1rem;
    justify-content: center;
  }
  .inputbtn .images img {
    position: relative;
    bottom: 36rem;
    margin-left: 14rem;
  }
  .inputbtn .images h3 {
    position: absolute;
    bottom: 32rem;
    left: -15rem;
    padding-top: 1rem;
  }

  .Main-component form a {
    margin-top: 4rem;
  }

  .form_group .form-group input::placeholder {
    font-size: 15px;
  }
  .form_group .form-group input {
    font-size: 15px;
  }
}

@media screen and (device-width: 360px) and (device-height: 640px) {
  .Main-component form a {
    margin-top: 7rem;
  }
}

@media screen and (device-width: 360px) and (device-height: 740px) {
  .Main-component form a {
    margin-top: 13rem;
  }
  .inputbtn .images img {
    position: relative;
    bottom: 36rem;
    max-width: 100%;
    margin-left: 14rem;
  }
  .Main-component form button {
    height: 10vh;
  }
}

@media screen and (device-width: 384px) and (device-height: 640px) {
  .Main-component form a {
    margin-top: 10rem;
  }
}
