/******************************************* <Login.js> **********************************************/

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Main {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-left: 32%;
  width: 50%;
  padding: 10px;
  margin-top: -35px;
  height: 100vh;
}

.inputbtn .images img {
  display: block;
  margin-left: 115%;
  margin-right: auto;
  width: 160%;
}

.inputbtn .images h3 {
  width: 430pt;
  height: 20pt;
  color: rgb(51, 182, 82);
  font-size: 16pt;
  margin-left: 45%;
  margin-top: 8%;
  letter-spacing: -0.01pt;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.inputbtn input {
  width: 350pt;
  height: 49pt;
  border-radius: 4pt;

  margin-top: 30px;

  align-items: center;
  margin-left: 90%;
  border-color: rgb(0, 105, 70);
  box-sizing: border-box;
  border-width: thin;
  padding-left: 10px;
}

/* .images{
  display: block;
  margin-left: 50%;
  margin-right: auto;
  margin-bottom: 50%;
 
} */

.images {
  width: 30vh;
  height: 9vh;
  margin-left: 290px;
  margin-bottom: 65px;
}

.inputbtn {
  margin-top: 10%;
  margin-right: 180%;
}

.Main .submitbtn button {
  width: 350pt;
  height: 55pt;
  margin-left: 90%;
  margin-top: 3%;
  border-radius: 6pt;
  color: rgb(255, 255, 255);
  background-color: rgb(8, 136, 38);
  font-size: 23pt;
  letter-spacing: 0.89pt;
  overflow-x: 374pt;
  overflow-y: 643pt;
  border-color: rgb(8, 136, 38);
  border-width: thin;
}

.Main .achorTag a {
  font-size: 14pt;
  width: 18rem;
  font-family: Roboto-Bold;
  color: rgb(0, 105, 70);
  text-decoration: none;
  position: absolute;
  left: 45.5%;
}

.Main .achorTag {
  padding-top: 10px;
}

.register {
  padding-top: 2rem;
  position: relative;
  left: 66%;
}

.Main .inputbtn p {
  position: relative;
  left: 40rem;
  color: rgb(0, 105, 70);
}

.Register {
  margin-top: -15px;
}

.Register .Register_btn {
  width: 350pt;
  height: 45pt;
  margin-left: 90%;
  margin-top: 0%;
  border-radius: 6pt;
  color: rgb(255, 255, 255);
  background-color: rgb(8, 136, 38);
  font-size: 18pt;
  letter-spacing: 0.89pt;
  overflow-x: 374pt;
  overflow-y: 643pt;
  border-color: rgb(8, 136, 38);
  border-width: thin;
}

.Register .Register_btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
/* 
.images {
  margin-left: 100%;
  margin-bottom: 20%;
} */

/* .inputbtn {
  margin-top: 50%;
  align-items: center;
  justify-content: center;
  margin-left: -140px;
} */

/* .submitbtn {
  margin-left: -116%;
  margin-top: 12px;
} */

.inputbtn2 .btn2 {
  margin-top: 12px;
}

input::placeholder {
  font-weight: bold;
  font-size: 18px;

  color: rgb(0, 0, 0);

  margin-left: 10% !important;
}

.inputbtn .sbbntn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.anchortg:hover {
  color: rgb(0, 105, 70);
}

/*********** Media Query for login page Media Query for low resolution  Tablets, Ipads  *****************************/

@media (min-width: 481px) and (max-width: 767px) {
  .Main {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 25rem;
    margin-top: 50rem;
  }

  .Main .inputbtn {
  }

  .inputbtn .images img {
    width: 60rem;
    margin-left: 100rem;
  }
  .inputbtn .images h3 {
    font-size: 78px;
    width: 100rem;
    margin-left: 80rem;
  }

  .inputbtn input {
    width: 100rem;
    margin-top: 20rem;
    height: 32vh;
    border: 2px solid rgb(0, 105, 70);
    margin-left: 100rem;
  }

  .inputbtn input[type="email"] {
    font-size: 90px;
  }

  .inputbtn input[type="password"] {
    font-size: 90px;
  }

  .inputbtn input::placeholder {
    font-size: 95px;
  }

  .inputbtn .submitbtn {
    margin-right: 89rem;
  }

  .inputbtn .submitbtn button {
    width: 100rem;
    height: 35vh;
    margin-top: 20px;
    font-size: 145px;
  }

  .Main .inputbtn .achorTag {
    position: relative;
    left: 18%;
  }

  .Main .inputbtn .achorTag a {
    font-size: 90px;
    width: 50rem;
  }
}

/*************************************Media Query For Mobiles**************************/

/* Media Query for Mobile Devices */
@media (min-width: 320px) and (max-width: 480px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .Main {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 45%;
    /* width: 45rem; */
    margin-top: 30rem;
  }

  .inputbtn .images img {
    width: 40rem;
    margin-left: 5rem;
  }

  .inputbtn .images {
    margin-top: 35rem;
  }

  .inputbtn input::placeholder {
    font-size: 70px;
  }

  .inputbtn input[type="email"] {
    font-size: 60px;
  }

  .inputbtn input[type="password"] {
    font-size: 60px;
  }
  .inputbtn2 {
    margin-top: -10rem;
  }

  .inputbtn .images h3 {
    margin-left: -6rem;
    font-size: 50px;
    width: 65rem;
  }
  .inputbtn {
    width: 130%;
  }
  .Main .inputbtn input {
    margin-left: 14.5rem;
    width: 60rem;
    height: 22vh;
    margin-top: 12rem;
    border: 1px solid rgb(0, 105, 70);
  }

  .Main .inputbtn .submitbtn {
    margin-right: 24.5rem;
  }

  .Main .inputbtn .submitbtn button {
    margin-left: 14.5rem;
    width: 60rem;
    height: 25vh;
    font-size: 100px;
  }

  .inputbtn .achorTag {
    position: relative;
    left: 44%;
  }
  .Main .inputbtn .achorTag a {
    font-size: 60px;
    width: 40rem;
  }
}

/*********************************Media Query For Ipads***********************


/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .Main {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 5rem;
    margin-left: 25rem;
  }

  .Main .inputbtn .images img {
    margin-left: 22rem;
  }

  .Main .inputbtn .images h3 {
    font-size: 27px;
    margin-left: 15.5rem;
  }

  .inputbtn input {
    margin-left: 32rem;
    height: 11vh;
    margin-top: 5rem;
    width: 40rem;
  }

  .inputbtn .submitbtn button {
    margin-left: 32rem;
    height: 15vh;
    font-size: 50px;
    width: 40rem;
    margin-top: 1rem;
  }
  .inputbtn input::placeholder {
    font-size: 30px;
  }

  .inputbtn input[type="email"] {
    font-size: 30px;
  }

  .inputbtn input[type="password"] {
    font-size: 30px;
  }

  .inputbtn .achorTag {
    position: relative;
    left: 13rem;
  }

  .inputbtn .achorTag a {
    font-size: 25px;
  }
}

/******************************** Media Query For Ipad Potraits ********************/

/* @media (min-width: 1025px) and (max-width: 1180px) {
  .Main {
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .inputbtn .images img {
    margin-left: 34rem;
  }

  .inputbtn .images h3 {
    margin-left: 29rem;
    font-size: 27px;
  }

  .inputbtn input {
    margin-left: 45rem;
    height: 11vh;
    width: 40rem;
    margin-top: 5rem;
  }

  .inputbtn .submitbtn button {
    margin-left: 45rem;
    height: 12vh;
    font-size: 40px;
    width: 40rem;
    margin-top: 1rem;
  }

  .inputbtn input[type="email"] {
    font-size: 28px;
  }

  .inputbtn input[type="password"] {
    font-size: 28px;
  }

  .inputbtn input::placeholder {
    font-size: 25px;
  }

  .inputbtn .achorTag a {
    font-size: 25px;
    margin-left: -4rem;
  }
} */

/* Media Query for Laptops and Desktops */
/* @media (min-width: 1025px) and (max-width: 1280px) {
  body {
    background-color: green;
  }
} */
/* Media Query for La
rge screens */
/* @media (min-width: 1281px) {
  body {
    background-color: white;
  }
} */
/****************************************************************************/

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .inputbtn .images img {
    margin-left: 12rem;
  }
  .images {
    margin-left: 50rem;
  }
  .inputbtn .images h3 {
    font-size: 35px;
    width: 50rem;
    margin-left: 35px;
  }

  .inputbtn {
    margin-top: 10%;
    margin-right: 170%;
  }
  .inputbtn input {
    width: 45rem;
    margin-top: 5rem;
    height: 10vh;
    border: 1px solid rgb(0, 105, 70);
    margin-left: 55rem;
  }
  .Main .submitbtn button {
    width: 45rem;
    margin-top: 1rem;
    height: 12vh;
    margin-left: 55rem;
    font-size: 60px;
  }
  .inputbtn input[type="email"] {
    font-size: 40px;
  }

  .inputbtn input[type="password"] {
    font-size: 40px;
  }

  .inputbtn input::placeholder {
    font-size: 40px;
  }
  .Main .achorTag a {
    font-size: 30px;
    width: 40rem;
  }
  .Main .achorTag {
    position: relative;
    margin-left: 45rem;
  }
}

/****************************************Media Query for large screen ***********/

/* Media Query for Large screens */
@media (min-width: 1281px) {
}
