@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap');  
/*****************************************************************ForemaView.js**************************************/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main{
  position: relative;
  height: 100vh;
  width: 100vw;
}

/*************************************** <main/> ************************************************************/


/*********************************************************** foreman *********************************************/

.foreman{
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  align-items: center;
}

.foreman img{
  width: 133.3pt;
  height: 38pt;
}

.v2{
  border-right: 1px dashed 
  rgb(0,0,0);
  height: 40pt;
  width: 1pt;
  position: absolute;
  left: 58%;
  margin-left: -540px;
  top: 24px;
}

.foreman h3{
  font-size: 14pt;
  color: rgb(0,0,0);
  width: 500pt;
  height: 37pt;
  text-align: center;
  margin-top: 1%;
  margin-right: 40%;
}
/***************************************************************<foreman/> ***********************************/


/********************************************************** <header> *****************************************/

.header span{
  font-size: 14pt;
  /* margin-left: 123px; */
  margin-left: 228px;
   
}

.header{
  margin-top: -3%;
}



/************************************************************ <header/> ***************************************/


.Logout{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: -5px;
  margin-right: 28px;
}

.Logout i{
  font-size: 14pt;
  letter-spacing: -0.01pt;
  padding-right: 6px;
  margin-left: 92%;
  /* margin-bottom: -15px; */
  margin-top: -65px;  
}

.Logout .head1{
  font-size: 14pt;
  letter-spacing: 0.01pt;
  color: rgb(0,0,0);
  margin-left: 4px;
  margin-top: -56px;
}


/******************************************************************** <Logout/> ****************************************/


/**********************************************************************<CardReference> **************************/

.CardReference .card_ref{

  font-size: 15pt;
    color: rgb(0,0,0);;
    border-bottom: 1px solid #00a53e;
    padding-bottom: 5px;
    margin: 20px 0px;
}



.CardReference .card_ref .loc{
  
  padding-left: 79%;
  /* margin-bottom: 1%; */
  margin-top: 0%;

}

.CardReference {
  margin-top: 30px;
  margin-left: 17px;
}


/***************************************************************<CardReference/> *******************************/


.foremantable h3{
    margin-top: 90px;
    margin-left: 10px;
    font-size: 15px;
}

.foremantable{
    font-size: 15px;
    border-bottom: 1px solid #00a53e;
    padding-bottom: 5px;
    margin: 0 0px;
    margin-top: -10px;
}


/****************************************************** paragraph ************************************************/

.paragraph{
  display: flex;
  font-size: 14pt;
  color: rgb(0,0,0);
  font-weight: bold;
  margin-left: 17px;
  margin-bottom: 5px;
  margin-top: 30px;
}




/********************************************************<datatable> **************************************/

.tabular .start{
  background-color: rgb(168, 249, 249)   ;
}

.tabular .End{
  background-color: pink;
}

.datatable .tabular{
  margin: 20px 0;
  font-size: 18px;
  margin: auto;
  width: 97vw;
  margin: 15px;
  border-spacing: 2px 1px;
  border-collapse: separate;
}

.datatable .tabular i{
  margin-left: 87%;
  margin-top: -9%;
  width: 30px;
  height: 30px;
  background-color: white;
  color: #00a53e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}


.tabular th{
text-align: left;
}

.tabular td{
  text-align: left;
  }

.dataT{
  background-color: rgb(188,242,204)  ;
}

.dataT2{
  background-color: rgb(188,242,204)  ;
}

.dataT3{
  background-color: rgb(255,190,186);
}


.dataT4{
  background-color: rgb(255,190,186);
}
/*******************************************************<datatable/> ********************************************/



/*********************************************  <chckbox> ************************************************************/

.chckbox h2{
  display: flex;
  font-size: 18pt;
  letter-spacing: -0.01pt;
  color: rgb(0,0,0);
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 5px;
  margin-top: 30px;
}
.chckbox img{
  width: 50vh;
  /* margin-left: 0px; */
  margin-top: 25px;
}


.chckbox .checktable_class{
  width: 166vh;
    /* top: 6%; */
    margin-top: -237px;
    margin-left: 23%;
}





/*Foremanpage Table *************************************************************************************************************************/


  



.checktable_class .scratches_class{
  background-color: rgb(243,243,243);
}


.checktable_class td{
  text-align: left;
}

.checktable_class td:hover{
  background-color:   rgb(219,255,227);
}  


.checktable_class .click{
  height: 3vh;
  width: 20%;
}

.checktable_class label{
  margin-left: 12px;
}

.checktable_class label p{
  text-align: center;
  margin-right: 18px;
  margin-left: 0px;
  margin-top: -4%;
}


.checktable_class label .damaged{
  margin-left: 0px;
  margin-top: -4%;
}

.checktable_class label .guard{
  margin-left:0px;
  margin-top: -4%;
}


.checktable_class label{
  cursor: pointer;
}

.checktable_class{
  border-spacing: 1px 1px;
    border-collapse: separate;
}


/************************************************************ ForemaView.js ***************************************/

/********************************** Table *************************************************************/

.App .tab{
    width: 98%;
    margin-left: 12px;
    height: 40vh;
    border-spacing: 2px 4px;
    border-collapse: separate;
}



.App{
    margin-top: 20px;
}


.col_tab th{
  text-align: left;
}

.dta td{
  text-align: left;
}


/* 
.CardReference h3 {
    font-size: 18px;
  } */
  

  


 

/* 
   p{
    margin-left: 5px;
    font-size: 16px;
    margin-top: 15px;
  } */



  .chckbox .column{
    display: flex;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 30px;
  }




  /* .tabular{
    margin: 20px 0;
    font-size: 18px;
    margin: auto;
    width: 97vw;
    margin: 15px;
  } */

 /***************************************************<ForemanCoolCOmplaint.js>********************************/

 .tw0_page_complaint h2{
    font-size: 18pt;
    color: rgb(0,0,0);
    padding-left: 1%;
  } 


  .foreman_cooling_table{
    background-color: rgb(8,136,38);
    margin-top: 5px;
    color: white;
    font-size: 14pt;
    font-weight: bold;
    height: 50px;
    display: flex;
  }


  .tw0_page_complaint  .custom_tab{
    font-size: 16pt;
    margin-left: 1%;
    text-align: left;
    width: 97%;
    background-color: rgb(8,136,38);
  }


.tw0_page_complaint .head_ing .DPdown{
 
    padding-left: 62%;
    margin-bottom: 35px;
}




.head_ing h2{
      margin-top: 10px;
}

.drop_down, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
  position: relative;
  border: none;
  height: 34px;
  width: 431px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(226, 245, 231);
  border-radius: 0.5rem;
} 

.horizontal_line{
  border-bottom: 1px solid #00a53e;
  padding-bottom: 5%;
  width: 113%;
  margin-left: -72px;

}

.down_value{
  width: 456pt;
  margin-right: 10px;
  margin-top: 90px;
  height: 37pt;
  display: flex;
   border:1.5px solid rgba(200,200,200,0.5);
  background-color: rgb(226,245,231);
  border-radius: 6pt;
}

.down_value p{
  margin-top: 11px;
  font-size: 15pt;
  margin-left: 10px;
   
}

.down_values{
  width: 456pt;
  margin-right: -16px;
  margin-top: 35px;
  height: 37pt;
  display: flex;
  border:1.5px solid rgba(200,200,200,0.5);
  background-color: rgb(226,245,231);
  border-radius: 6pt;
}

.down_values p {
  margin-top: 11px;
  font-size: 15pt;
  margin-left: 10px;
}

/****************************************<ForemanTailComponent> *********************************/



