@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap");
/*****************************************************************ForemaView.js**************************************/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

/*************************************** <main/> ************************************************************/

/*********************************************************** foreman *********************************************/

.foreman {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  align-items: center;
}

.foreman img {
  width: 133.3pt;
  height: 38pt;
}

.v2 {
  border-right: 2px dashed rgb(0, 0, 0);
  height: 40pt;
  width: 1pt;
  position: absolute;
  left: 52%;
  /* margin-left: -39rem; */
  top: 20px;
}

.foreman h3 {
  font-size: 14pt;
  color: rgb(0, 0, 0);
  width: 500pt;
  height: 37pt;
  text-align: center;
  margin-top: 1%;
  margin-right: 46%;
}
/***************************************************************<foreman/> ***********************************/

/********************************************************** <header> *****************************************/

.header span {
  font-size: 14pt;
  margin-left: 230px;
}

.header {
  margin-top: -3%;
}

/************************************************************ <header/> ***************************************/

.Logout {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: -5px;
  margin-right: 28px;
}

.Logout i {
  font-size: 14pt;
  letter-spacing: -0.01pt;
  padding-right: 6px;
  margin-left: 92%;
  /* margin-bottom: -15px; */
  margin-top: -65px;
}

.Logout .head1 {
  font-size: 14pt;
  letter-spacing: 0.01pt;
  color: rgb(0, 0, 0);
  margin-left: 4px;
  margin-top: -56px;
}

/******************************************************************** <Logout/> ****************************************/

/**********************************************************************<CardReference> **************************/

.CardReference .card_ref {
  font-size: 15pt;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid #00a53e;
  padding-bottom: 5px;
  margin: 20px 0px;
}

.CardReference .card_ref .loc {
  padding-left: 79%;
  /* margin-bottom: 1%; */
  margin-top: 0%;
}

.CardReference {
  margin-top: 30px;
  margin-left: 17px;
}

/***************************************************************<CardReference/> *******************************/

.foremantable h3 {
  margin-top: 90px;
  margin-left: 10px;
  font-size: 15px;
}

.foremantable {
  font-size: 15px;
  border-bottom: 1px solid #00a53e;
  padding-bottom: 5px;
  margin: 0 0px;
  margin-top: -10px;
}

/****************************************************** paragraph ************************************************/

.paragraph {
  display: flex;
  font-size: 14pt;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-left: 17px;
  margin-bottom: 5px;
  margin-top: 30px;
}

/********************************************************<datatable> **************************************/

.Tail_lif_break {
  font-weight: bold;
  font-size: 18pt;
  padding-left: 1rem;
}

.tabular .start {
  background-color: rgb(168, 249, 249);
}

.tabular .End {
  background-color: pink;
}

.datatable .tabular {
  margin: 20px 0;
  font-size: 18px;
  margin: auto;
  width: 97vw;
  margin: 15px;
  border-spacing: 2px 1px;
  border-collapse: separate;
}

.datatable .tabular i {
  margin-left: 92%;
  margin-top: -6%;
  width: 30px;
  height: 30px;
  background-color: white;
  color: #00a53e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.tabular th {
  text-align: left;
}

.tabular .Root_Caus {
  width: 10%;
}

.tabular .Reflect {
  width: 10%;
}

.tabular tr td {
  text-align: left;
  font-size: 18px;
}

.dataT {
  background-color: rgb(188, 242, 204);
}

.dataT2 {
  background-color: rgb(188, 242, 204);
}

.dataT3 {
  background-color: rgb(255, 190, 186);
}

.dataT4 {
  background-color: rgb(255, 190, 186);
}
/*******************************************************<datatable/> ********************************************/

/*********************************************  <chckbox> ************************************************************/

.chckbox h2 {
  display: flex;
  font-size: 18pt;
  letter-spacing: -0.01pt;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 5px;
  margin-top: 30px;
}
.chckbox img {
  width: 50vh;
  /* margin-left: 0px; */
  margin-top: 25px;
}

.chckbox .checktable_class {
  width: 166vh;
  /* top: 6%; */
  margin-top: -237px;
  margin-left: 23%;
}

/*Foremanpage Table *************************************************************************************************************************/

.checktable_class .scratches_class {
  background-color: rgb(243, 243, 243);
}

.checktable_class td {
  text-align: left;
}

.checktable_class td:hover {
  background-color: rgb(219, 255, 227);
}

.checktable_class .click {
  height: 3vh;
  width: 20%;
}

.checktable_class label {
  margin-left: 12px;
}

.checktable_class label p {
  text-align: center;
  margin-right: 18px;
  margin-left: 0px;
  margin-top: -4%;
}

.checktable_class label .damaged {
  margin-left: 0px;
  margin-top: -4%;
}

.checktable_class label .guard {
  margin-left: 0px;
  margin-top: -4%;
}

.checktable_class label {
  cursor: pointer;
}

.checktable_class {
  border-spacing: 1px 1px;
  border-collapse: separate;
}

/************************************************************ ForemaView.js ***************************************/

/********************************** Table *************************************************************/

.App .tab {
  width: 98%;
  margin-left: 12px;
  height: 40vh;
  border-spacing: 2px 4px;
  border-collapse: separate;
}

.App {
  margin-top: 20px;
}

.col_tab th {
  text-align: left;
}

.dta td {
  text-align: left;
}

/* 
.CardReference h3 {
    font-size: 18px;
  } */

/* 
   p{
    margin-left: 5px;
    font-size: 16px;
    margin-top: 15px;
  } */

.chckbox .column {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 5px;
  margin-top: 30px;
}

/* .tabular{
    margin: 20px 0;
    font-size: 18px;
    margin: auto;
    width: 97vw;
    margin: 15px;
  } */

.Technician_task {
  margin-top: -15rem;
}

/***************************************************<ForemanCoolCOmplaint.js>********************************/

.tw0_page_complaint {
  height: 30%;
  margin-top: 50px;
}

.tw0_page_complaint h2 {
  font-size: 18pt;
  color: rgb(0, 0, 0);
  padding-left: 1%;
}

.Break_down_analysis {
  font-size: 18pt;
  margin-top: 100px;
  padding-left: 20px;
}

.foreman_cooling_table {
  background-color: rgb(8, 136, 38);
  margin-top: 5px;
  color: white;
  font-size: 14pt;
  font-weight: bold;
  height: 50px;
  display: flex;
}

.tw0_page_complaint .custom_tab {
  font-size: 16pt;
  margin-left: 1%;
  text-align: left;
  width: 97%;
  background-color: rgb(8, 136, 38);
}

.tw0_page_complaint .head_ing .DPdown {
  padding-left: 62%;
  margin-bottom: 35px;
}

.head_ing h2 {
  margin-top: 10px;
}

.drop_down,
.dropdown-center,
.dropend,
.dropstart,
.dropup,
.dropup-center {
  position: relative;
  border: none;
  height: 34px;
  width: 431px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(226, 245, 231);
  border-radius: 0.5rem;
}

.horizontal_line {
  border-bottom: 1px solid #00a53e;
  padding-bottom: 5%;
  width: 113%;
  margin-left: -72px;
}

.down_value {
  width: 456pt;
  margin-right: 30px;
  margin-top: 90px;
  height: 37pt;
  display: flex;
  border: 1.5px solid rgba(200, 200, 200, 0.5);
  background-color: rgb(226, 245, 231);
  border-radius: 6pt;
}

.down_value p {
  margin-top: 11px;
  font-size: 14pt;
  width: 55%;
  margin-left: 10px;
}

.down_values {
  width: 456pt;
  margin-right: 2px;
  margin-top: 35px;
  height: 37pt;
  display: flex;
  border: 1.5px solid rgba(200, 200, 200, 0.5);
  background-color: rgb(226, 245, 231);
  border-radius: 6pt;
}

.down_values p {
  margin-top: 11px;
  font-size: 14pt;
  width: 55%;
  margin-left: 10px;
}

.down_value .Drop_select {
  -webkit-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAnUExURUdwTAaIJgeHJgaHJgCZMwaHJwaHJQaIJgaJJwaIJQaIJgaJJQaIJqFSFCMAAAAMdFJOUwD2RFEFVaTcitp01SQKMqIAAACLSURBVAjXY2BgYAmbKJnqwAAC5meAYDKIxXEGDBqAzB4I8wQDA/MZKDBgcIcxpzDEnFklc+bMwVVnjjLknGZQPHNGiGHPMYY5ZxSYZA4qMJ05ySADFFEEojMHgUygEFACyJwDUghSfpIh5wxIGGjIMaBhZ85ILQQSR5GtQLIYyTnIjoQ4vRjsC5iHAMEOY/3yhSU8AAAAAElFTkSuQmCC);
  width: 85%;
  font-size: 16pt;
  height: 5vh;
  border-radius: 6pt;
  margin-top: 1.5%;
  margin-right: 15px;
  font-family: Roboto-Bold;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  border: none;
}

/****************************************<ForemanTailComponent> *********************************/

.tw00_page_complaint {
  height: 30%;
  margin-top: 12%;
}

.tw00_page_complaint .headi_ng {
  margin-top: -12%;
}

.Break_down_Tail_lift {
  color: rgb(0, 0, 0);
  font-size: 18pt;
  margin-top: 45px;
  padding-left: 0px;
}

.down_values .Drop_select_btn {
  -webkit-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAnUExURUdwTAaIJgeHJgaHJgCZMwaHJwaHJQaIJgaJJwaIJQaIJgaJJQaIJqFSFCMAAAAMdFJOUwD2RFEFVaTcitp01SQKMqIAAACLSURBVAjXY2BgYAmbKJnqwAAC5meAYDKIxXEGDBqAzB4I8wQDA/MZKDBgcIcxpzDEnFklc+bMwVVnjjLknGZQPHNGiGHPMYY5ZxSYZA4qMJ05ySADFFEEojMHgUygEFACyJwDUghSfpIh5wxIGGjIMaBhZ85ILQQSR5GtQLIYyTnIjoQ4vRjsC5iHAMEOY/3yhSU8AAAAAElFTkSuQmCC);
  width: 85%;
  font-size: 16pt;
  height: 5vh;
  border-radius: 6pt;
  margin-top: 1.5%;
  margin-right: 15px;
  font-family: Roboto-Bold;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  border: none;
}

.Logout i .Logout_Butoon {
  height: 4vh;
}

.Card_job {
  margin-top: 10%;
  justify-content: center;
  align-items: center;
  margin-left: -6%;
}

.job_cardbtn_btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.Card_job .job_cardbtn_btn {
  background-color: rgb(8, 136, 38);
  color: white;
  font-size: 20pt;
  width: 320pt;
  color: rgb(255, 255, 255);
  letter-spacing: 0.89pt;
  /* margin-right: 23px; */
  margin-left: -180px;
  /* margin-bottom: 109%; */

  margin-top: 33%;

  margin-bottom: 35px;
  height: 62pt;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 6pt;
}

.checktable .click {
  height: 4vh;
  width: 26px;
}

.checktable .click1 {
  margin-top: -16px;
  width: 23px;
  height: 4vh;
}

Select {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 55px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-color: rgb(237, 242, 242);
  background-position: center right;
  background-repeat: no-repeat;
  border: none;
  border-radius: 2px;
  /* box-shadow: 0px 1px 3px rgb(0 0 0 / 10%); */
  color: rgb(31, 30, 30);
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/**********************Media Query for ForemanPage Tablet ipad potrait mode****************/
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .main {
    width: 124rem;
  }
  .foreman img {
    margin-top: 20px;
    width: 18rem;
    height: 5rem;
  }

  .v2 {
    height: 16vh;
    border-right: 3px dashed rgb(0, 0, 0);
    position: sticky;
    margin-top: 1%;
    margin-right: 75rem;
  }
  /* height: 16vh;
  border-right: 3px dashed rgb(0, 0, 0);
  position: sticky;
  margin-top: 1%;
  margin-right: 75rem; */
}
