@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap');



* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  
}

.mainDiv {
    height: 100vh;
    /* width: 500px; */
    background-color: antiquewhite;
    position: relative;
}

.demo {
    position: absolute;
    top: 0;
    background-color: rgb(86, 86, 86);
    opacity: 0.5;
    height: 100vh;
    width: 100vw;
}


/*=========================================================( page two ) =========================================================== */


/* -------------------------------------------------------- ( Page_two_logoAndLogOut ) --------------------------------------------------------- */


.Page_two_logoAndLogOut img {
    width: 133.3pt;
    height: 38pt;
}

.Page_two_logoAndLogOut {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    align-items: center;
}

.Page_two_logoAndLogOut h3 {
    font-size: 14pt;
    color: rgb(0,0,0);
    width: 500pt;
    height: 37pt;
    text-align: center;
    margin-top: 1%;
    margin-right: 40%;
}



.Page_two_LogOut {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
}

.Page_two_LogOut h3 {
    font-size: 15px;
    text-align: left;
}

.Page_two_LogOut h3 span {
    font-size: 16px;
}

.Page_two_LogOut i {
    font-size: 14pt;
    letter-spacing: -0.01pt;
    padding-right: 6px;
    margin-left: 92%;
    /* margin-bottom: -15px; */
    margin-top: -77px;
}

.head{
    font-size: 14pt;
    letter-spacing: 0.01pt;
    color: rgb(0,0,0);
    margin-left: 0px;
    margin-top: -65px;
   
}

.Page_two_LogOut img{
    height: 4vh;
}


.heading span{
    font-size: 14pt;
   
    /* margin-left: 123px; */
    margin-left: 228px;
   
}

.heading{
    
    margin-top: -3%;
}

/* font-size: 15px;
margin-left: 120px;
margin-top: -60px;
margin-bottom: 0px; */

/* font-size: 15px;
margin-left: 120px; */

/* -------------------------------------------------------- ( / Page_two_logoAndLogOut ) --------------------------------------------------------- */





/* -------------------------------------------------------- ( Page_two_search_Chooes_box ) --------------------------------------------------------- */


.Page_two_search_Chooes_box .bottom {
    font-size: 18pt;
    color: rgb(0,0,0);;
    border-bottom: 1px solid #00a53e;
    padding-bottom: 5px;
    margin: 20px 10px;
}

.Page_two_search_Chooes_box {
    margin-top: 50px;
}

.choesBTN {
    accent-color: #00a53e;
    width: 20px;
    height: 20px;
}

.kt {
    display: flex;
}

.kt h2 {
    font-size: 15pt;
    margin-left: 25px;
    color: rgb(0,0,0);
}

.chassis {
    display: flex;
}

.chassis h2 {
    font-size: 15pt;
    margin-left: 25px;
    color: rgb(0,0,0);
}

.page_two_chooes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 60px;
    margin-left: 10px;
}

.page_two_or p {
    font-size: 21px;
    font-weight: bold;
    height: 55px;
    margin-right: -30%;
    padding-top:14px;
}

.page_two_or span {
    border-right: 2px dashed #00a53e;
    /* font-size: 100px; */
    height: 10vh;
    margin-top: 3px;
    margin-left: 12px;
}

.page_two_or {
    display: flex;
}

.page_two_serchbar {
    box-shadow: 0 0 1px black;
    width: 425px;
    border-radius: 5px;
    position: relative;
    margin-right: 260px;
    
}
.page_two_serchbar input {

    width: 300px;
    background-color: rgb(245,255,248);
    height: 60px;
    font-size: 13px;
    outline: none;
    border: none;
    padding-left: 5px;
    border-radius: 6pt;
}

.page_two_serchbar button {
    width: 150pt;
    height: 45pt;
    border: none;
    border-radius: 6pt;
    background-color: rgb(8,136,38);
    position: absolute;
    letter-spacing: 0.89pt;
    right: 0%;
    color: rgb(255,255,255);
    font-weight: bold;
    font-size: 18pt;
    cursor: pointer;
}

.page_two_serchbar button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.page_two_middel_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1515px;
    margin: 10px auto;
    padding-bottom: 10px;
    border-bottom: 2px dashed #00a53e;
}


.vl {
    border-right: 1px dashed 
    rgb(0,0,0);
    height: 40pt;
    width: 1pt;
    position: absolute;
    left: 58%;
    margin-left: -540px;
    top: 15px;
  }




/* -------------------------------------------------------- ( / Page_two_search_Chooes_box ) --------------------------------------------------------- */


/* -------------------------------------------------------- (  page_two_table ) --------------------------------------------------------- */

.page_two_table table {
    margin: 20px 0;
    font-size: 18px;
    margin: auto;
    width: 97vw;
    margin: 15px;
    border-spacing: 2px 1px;
    border-collapse: separate;

}


tr th {
    background-color: rgb(8,136,38);
    padding: 10px;
    width: 170px;
    text-align: center;
    color: white;
    font-size: 17px;
}

tr td {
    background-color:  rgb(237, 242, 242);
    padding: 10px;
    text-align: center;
    font-size: 15px;
}

.page_two_table span {
    display: flex;
    font-size: 15pt;
    letter-spacing: 0.58pt;
    color: rgb(0,0,0);
    font-weight: bold;
    margin-left: 17px;
    margin-bottom: 5px;
    margin-top: 30px;
}

.page_two_table p {
    margin: 4px 10px;
    color: rgb(0,0,0);
}

.chck1{
    accent-color:rgb(8,136,38) ;
}


/* -------------------------------------------------------- ( / page_two_table ) --------------------------------------------------------- */







/* -------------------------------------------------------- (  complaint_failure ) --------------------------------------------------------- */

 .page_two_complaint_failure h2 {
    font-size: 18pt;
    color: rgb(0,0,0);
} 



 .page_two_complaint_failure {
    width: 97%;
    margin: auto;
    margin-top: 20px;
} 

 .complaint_failure {
    background-color: #00a53e;
    margin-top: 5px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    display: flex;

} 

 .complaint {
    background-color: antiquewhite;
     width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
} 

 .complaint i {
    width: 30px;
    height: 30px;
    background-color: white;
    color: #00a53e;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
}

 .failure {
     background-color: antiquewhite; 
     width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
} 

.failure i {
    width: 30px;
    height: 30px;
    background-color: white;
    color: #00a53e;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
} 

.main_div {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.main_black_div {
    background: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    position: absolute;
    top: -1%;
    width: 100vw;
    height: 290vh;
}

.page_two_complaint_failure h2{
    font-size: 18pt;
    color: rgb(0,0,0);
    margin-left: 0%;
}

.page_two_complaint_tab {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.page_two_complaint_failure .customer_table{
    width: 100%;
    margin-left: 0%;
}



.page_two_complaint_failure_table{
    margin-top: -244px;
}



.Cust_Table_tab th {
    font-size: 16pt;
    text-align: left;
    width: 45%;
}

.Cust_Table th{
    font-size: 16pt;
    text-align: left;
    width: 45%;
}

.Cust_t1 td{
    font-size: 14pt;
    text-align: left;
    width: 45%;
}


.Cust_t0 td{
    font-size: 14pt;
    text-align: left;
    width: 45%;
}







.customer_table .cust_tab0 .cust_tab{
    font-size: 16pt;
    text-align: left;
    width: 45%;
    background-color: rgb(8,136,38);;
}


.Cust_t1 i{
    margin-left: 94%;
    margin-top: -5%;
     margin-right: -3px; 
    width: 30px;
    height: 30px;
    background-color: white;
    color: #00a53e;
    display: flex;
    align-items: center;
    justify-content:center ;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}


.Cust_t3 i{
    margin-left: 94%;
    margin-top: -5%;
     margin-right: -3px; 
    width: 30px;
    height: 30px;
    background-color: white;
    color: #00a53e;
    display: flex;
    align-items: center;
    justify-content:center ;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.cust_tab i{
    
    margin-left: 94%;
    margin-top: -5%;
     margin-right: -3px; 
    width: 30px;
    height: 30px;
    background-color: white;
    color: #00a53e;
    display: flex;
    align-items: center;
    justify-content:center ;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.cust_tab1 i{
    margin-left: 93%;
    margin-top: -5%;
    width: 30px;
    height: 30px;
    background-color: white;
    color: #00a53e;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}


.cust_tab0 .cust_tab1{
    text-align: left;
    font-size: 16pt;
}

.cust_tab2 td{
    text-align: left;
}

.cust_tab3 td{
    text-align: left;
}
.page_two_complaint_failure .customer_table{
    border-spacing: 1px 1px;
    border-collapse: separate;
}

.page_two_complaint_failure .cust_tab0{
    width: 50%;
} 


.Cust_Table {
    width: 99.9%;
    margin: 0;
    padding: 0;
 
   }
   
   .Cust_Table_tab {
       width: 100%;
     
   }

/* -------------------------------------------------------- ( / complaint_failure ) --------------------------------------------------------- */





/* -------------------------------------------------------- (  page_two_complaint_list ) --------------------------------------------------------- */


.page_two_complaint_list {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 795pt;
    height: 520pt;
    padding: 20px 0;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page_two_complaint_list .complist input {
    accent-color: #00a53e;
    width: 21pt;
     height: 21pt;
    cursor: pointer;
    display: inline;
}

.page_two_complaint_list h3 {
    font-weight: bold;
    /* text-align: center; */
    margin-left: 50px;
    font-size: 21px;
    margin-bottom: 20px;
}

.complist {
    display: flex;
    margin: 0px 24px;
} 

.complist p {
    font-size: 18pt;
    margin-left: 10px;
    margin-top: 0px;
    letter-spacing: 0.01pt;
    color:rgb(0,0,0);
}



.page_two_complaint_list span{
    border-right: 2px dashed #00a53e;
    /* font-size: 100px; */
    height: 10vh;
    margin-top: 3px;
    margin-left: 12px;
}



.page_two_component_button .Save_Button{
    margin-left: 30%;
    margin-top: 3%;
    width: 301pt;
    height: 50pt;
    background-color: rgb(8,136,38);
    border-radius: 6pt;
    border-color: rgb(8,136,38);
    border-right: rgb(8,136,38);
    border-bottom: rgb(8,136,38);
    color: rgb(255,255,255);
    font-size: 23pt;
    letter-spacing: 0.89pt; 
   
}

.page_two_component_button .Save_Button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.page_two_Failure {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 20px 0;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}



.page_two_Failure h3 {
    font-weight: bold;
    text-align: center;
    font-size: 19px;
    margin-bottom: 20px;
}

.page_two_Failure input {
    accent-color: #00a53e;
    width: 18px;
    height: 18px;
    cursor: pointer;
    display: inline;
    margin-left: 10px;
}

.page_two_Failure label {
    font-size: 17px;
    margin-left: 10px;
}

.failure_reason {
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.page_two_Failure button {
    width: 85%;
    height: 45px;
    font-size: 19px;
    color: white;
    background-color: rgb(8,136,38);
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 4px;
    margin-left: 30px;
    /* margin: auto; */
}




/* -------------------------------------------------------- ( / page_two_complaint_list ) --------------------------------------------------------- */





.page_two_bothcomp_fail_list{
    width: 97%;
    margin: auto;
    display: flex;
}
.comp_list{
    width: 50%;
    background-color: rgb(237, 242, 242);
    display: flex;
}
.comp_list p{
    height: 40px;
    padding: 10px 0 0 10px;
}
.fail_list{
    width: 65%;
    background-color: rgb(237, 242, 242);
    display: flex;
    margin-left: 5px;
}
.fail_list p{
    height: 40px;
    padding: 10px 0 0 10px;
}

/********************************8************* <VehicleRegister.js> tableCheckbox******************************************************************************/






/* 
.tablecheckbox .tab{
    width: 100vh;
   background-color: black;
} */


/* .tablecheckbox .checktable{
    width: 162vh;
    /* top: 6%; */
    /* margin-left: 25%;
    margin-top: -20%;
} */ 

/* .checktable:hover{
   background-color: cadetblue;
} */


.dropdown .dpdbtn{
    height: 9vh;
    width: 35%; 
    background-color: rgb(245,255,248);
    border-radius: 6pt;
}

.dpdbtn{
    margin-left: 55px;
    background-color: rgb(237, 242, 242);
    border-radius: 5px;
  border: 1px solid white;
}

.labell{
    margin-left: 17px;
    font-size: 15pt;
    letter-spacing: -0.01pt;
    color: rgb(0,0,0);
}

.tdata{
    background-color: rgb(188,242,204)  ;
}

.tdata2{
    background-color: rgb(188,242,204) ;
}


.tdata3{
    background-color: rgb(255,190,186);
}

.tdata4{
    background-color: rgb(255,190,186);
}

/* .tdata3{
    batrkground-color: pink;
}

.tdata4{
    background-color: pink;
} */
/* 
.inputt{
    accent-color: #00a53e;
} */



/* .click{
    accent-color: #00a53e;
    cursor: pointer;
   
} */

.checktable label{
    cursor: pointer;
}

/* .click:hover{
    box-shadow: rgb(8,136,38);
  
    } */

  /* .checktable td:hover{
    background-color:   rgb(219,255,227);
  }   */


.tab {
background-color:  rgb(237, 242, 242);
}




/************************************************************** customer complaint tail &*****************************************/


/* .page_two_complaint_failure1 h2 {
    font-size: 18pt;
    color: rgb(0,0,0);
} */

.page_two_complaint_failure1  {
    width: 97%;
    margin: auto;
    margin-top: 20px;
}


.complaint_failure1 {
    background-color: rgb(8,136,38);
    margin-top: 5px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    display: flex;

}


/* .complaint1 {
    /* background-color: antiquewhite; */
    /* width: 46%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px; */
/* } */ 

/* .complaint1 i{
    margin-right: 12px;
    width: 30px;
    height: 30px;
    background-color: white;
    color:rgb(8,136,38);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
} */


.complaint i {
    width: 30px;
    height: 30px;
    background-color: white;
    color: rgb(8,136,38);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
}

.failure1 {
    /* background-color: antiquewhite; */
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}

.failure1 i{
    width: 30px;
    height: 30px;
    background-color: white;
    color: rgb(8,136,38);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
}



.page_two_bothcomp_fail_list1{
    width: 125%;
    margin: auto;
    margin-left: 19px;
    display: flex;
}


.comp_list1{
    width: 35%;
    background-color: rgb(237, 242, 242);
    display: flex;
    margin-left: -19px;
}


.comp_list1 p{
    height: 40px;
    padding: 10px 0 0 10px;
}
.fail_list1{
    width: 45%;
    background-color: rgb(237, 242, 242);
    display: flex;
    margin-left: 5px;
}
.fail_list1 p{
    height: 40px;
    padding: 10px 0 0 10px;
}

/**************************************************** Foreman Select *****************************************************************/


.search_foreman .select{
    width: 320pt;;
    height: 62pt;;
    background-color: rgb(226,245,231);
    border-radius: 6pt;
    border: 1px solid white;
    margin-bottom: 60px;
    font-size: 16pt;
    letter-spacing: 0.62pt;
    margin-left: 1%;
}

.search_foreman{
    margin-top: 150px;
    margin-left: 20px;
    
}


.search_foreman option{
    font-size: 16pt;
    letter-spacing: 0.62pt;
    text-align: center;
    color: rgb(0,0,0);
}

/********************************************************** job card button ***********************************************/


 /* .job_cardbtn{
    margin-left: 790px;
    height: 12vh;
    width: 35%;
    /* margin-top: -8px; */
    /* border-radius: 4px;
    font-size: 15px;
    background-color: darkgreen;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid white;
}

.job_card{
    margin-top: -130px;
}


.job_cardbtn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}  */

.job_card{
    margin-top: -225px;

    justify-content: center;
    align-items: center;
    margin-left: 79%;
    
}


.job_cardbtn{
   
    background-color: rgb(8,136,38);
    color: white;
    font-size: 20pt;
    width: 320pt;
    color: rgb(255,255,255);
    letter-spacing: 0.89pt;
    /* margin-right: 23px; */
    margin-left: -180px;
    /* margin-bottom: 109%; */
 
    margin-top: 33%;

    margin-bottom: 35px;
    height: 62pt;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 6pt;
}


.job_cardbtn:hover{

    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/*********************************************************** FailureReason *****************************************************/





/*************************************************************<TailComplaint.js>***********************************/


/* .page_two_complaint_failure1 .complaint1{
    width: 100%;
    margin-left: 0%;
    border-spacing: 1px 1px;
    border-collapse: separate;
} */

/* .compl_aint0 i{
    margin-left: 93%;
    margin-top: -5%;
    width: 30px;
    height: 30px;
    background-color: white;
    color: #00a53e;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}


.compl_aint1 i{
    margin-left: 94%;
    margin-top: -5%;
    margin-right: -3px;
    width: 30px;
    height: 30px;
    background-color: white;
    color: #00a53e;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
} */
/* 
.page_two_complaint_failure1 .compl_aint{
    width: 50%;
} */


/* .page_two_complaint_failure1 .compl_aint .compl_aint0{
    font-size: 16pt;
    text-align: left;
    width: 45%;
    /* background-color: rgb(8,136,38); 
} */

/* .compl_aint0 .compl_aint1{
    text-align: left;
    font-size: 16pt;
} */

/* .complaint1 .compl_aint1{
    text-align: left;
    font-size: 16pt;
}

.complaint1 .comp_laint2 td{
    text-align: left;
} */


/********************************************************<FailureReason.js>*****************************/
.Fail_reason .freason{
font-size: 20pt;
color: rgb(0,0,0);
letter-spacing: 0.01pt;
}

.Fail_reason{
    padding-left: 60%;
    margin-top: -62%;
}


.Fail_reason  input{
    width: 30px;
    height: 21.2pt;
    margin-top: 7px;
}
/* 
.Engine_oil_Drain .inpt{
    width: 23pt;
    height: 23pt;
} */

.lable{
    
    padding-left: 40px;
    margin-top: -38px;
    color: rgb(0,0,0);
    font-size: 18pt;
}

/* .Fail_reason .inpt{
    accent-color:  rgb(15,95,34);
    margin-top: 7px;
} */

/*************************************<pagetwocomponent.js> *****************************************/
/* 
.complaints_container .Compla_int_container_heading{
    font-size: 20pt;
    letter-spacing: -0.01pt;
    color: rgb(0,0,0);
} */

/* .Spa_nn{

    border-right: 2px dashed #00a53e;
    /* font-size: 100px; */
    /* height: 100vh;
    margin-top: 3px;
    margin-left: 12px;
} */ 


.arrow_img .arrow_imggg{
    width: 26pt;
    height: 26pt;
    margin-left: 47%;
    /* margin-bottom: 0%; */
    margin-top: -50%;
}


.arrow_img .Spa_nn{
    border-left: 1px dashed rgb(151,151,151);
    height: 415pt;
    margin-left: 515px;
    margin-top: -51%;
}


/*********************************************<VehicelRegister.js> .Dropdown****************************/




.Selec_t,

.dropdown-center,

.dropend,

.dropstart,

.dropup,

.dropup-center {

  position: relative;

  border: none;

  height: 37pt;

  width: 410pt;

  display: flex;

  align-items: center;

  justify-content: center;

  background-color: rgb(245, 255, 248);

  border-radius: 6pt;

  font-size: 15pt;

  letter-spacing: -0.01pt;

  color: rgb(0, 0, 0);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,

    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

}



textarea:focus,

input:focus {

  outline: none;

}



*:focus {

  outline: none;

}





.Drop_select {

  -webkit-appearance: none;

  -moz-appearance: none;
 

  background: transparent;

  background-image: url("C:\Almulla_Sevice\loginpage\public\logo\nounBottom2796543.png");
  width: 10vh;

  border-radius: 6pt;

  background-repeat: no-repeat;

  background-position-x: 100%;

  background-position-y: 5px;

  border: 1px solid #dfdfdf;

  /* margin-top: 5pt; */

  /* border-radius: 2px;

    margin-right: 10rem;

    padding: 1rem;

    padding-right: 2rem; */

}


.Selec_t{
    margin-top: 7%;
    width: 38%;
}

.drop_down_value{
    width: 370pt;
    margin-top: 100px;
    margin-left: 2%;
    margin-bottom: 50px;
    height: 68pt;
    background-color: rgb(226,245,231);
    border-radius: 6pt;
}


.drop_down_value b{
    padding-left: 10px;
    font-size: 16pt;
}



/*******************************************************<PhysicalRemark.js> *****************************/
