*{
    margin: 0;
    padding: 0;box-sizing: border-box;
}


.foreman_class img{
    width: 133.3pt;
    height: 38pt;
    margin-top: 20px;
    margin-left: 10px;
}

.v2{
    border-right: 1px dashed black;
    height: 70px;
    position: absolute;
    left: 58%;
    margin-left: -540px;
    top: 15px;
}

.foreman_class h3{
    font-size: 14pt;
    margin-left: 17%;
    margin-top: -40px;
    width: 372pt;
    height: 37pt;
    margin-bottom: 0px;
    color: rgb(0,0,0);
}

.header_class span{
    font-size: 14pt;
    margin-left: 218px;
    width: 372pt;
    height: 37pt;

   
}

.header_class{
    margin-top: -2%;
}

.Logout_class   {
    margin-left: 91%;
    margin-top: -58px;
    width: 16pt;
    height: 18.5pt;
   
}



.Logout_class .head2{
    font-size: 14pt;
    width: 44pt;
    height: 16pt;
    margin-left: 30px;
    margin-top: -23px;
}


.foremantable_class h3{
    margin-top: 90px;
    margin-left: 10px;
    font-size: 18pt;
    color: 
    rgb(0,0,0);
}


.foremantable_class{
    font-size: 15px;
    border-bottom: 1px solid #00a53e;
    padding-bottom: 5px;
    margin: 0 0px;
    margin-top: -10px;
}


.Logout_class .Logout_logo img{
width: 16pt;
height: 18.5pt;
margin-top: 10px;
}

/*********************************** Table *************************************************************/


.App_class .tab_class{
    width: 98%;
    margin-left: 12px;
    height: 40vh;
    border-spacing: 1px 1px;
    border-collapse: separate;
    text-align: left;
}

.App_class{
    margin-top: 20px;
}

.col_tabclass .new_jordcard{
    width: 60%;
    text-align: left;
   
}

.new_jordcard th tr td{
    text-align: left;
}

.col_tabclass td{
    text-align: left;
}

.col_tabclass img{
    float: right;
    
    width: 10%;
}


.tab_class tr{
    font-size: 16pt;
    letter-spacing: 0.01pt;
}


/********************************************************  ForemanView ***********************************************/

